---
{% if exists("title") -%}
title: "{{title}}"
{% else if exists("name") -%}
title: "{{name}}"
{% endif -%}
{% if exists("summary") -%}
summary: "{{summary}}"
{% endif -%}
{% include "meta" %}
menu:
  documentation:
    parent: "python"
weight: 10
---

{% include "custom_index.tmpl" %}

{% include "footer" %}
