{% include "header" -%}

{% include "breadcrumbs" -%}

{% if exists("brief") %}{{brief}}{% else if exists("summary") %}{{summary}}{% endif %}{% if hasDetails %} [More...](#detailed-description){% endif %}

{% include "nonclass_members_tables" -%}

{% if hasDetails %}## Detailed Description

{% include "details" %}{% endif -%}

{% include "nonclass_members_details" -%}

{% include "footer" -%}
